/* ----------------------------
/*  Name: kafka-frontend
    Author: vhgs
    Version: 1.0
/* -------------------------- */

.navbar{
	background-color: #000000;
	opacity: .9;
}

.content-banner{
	color:#ffffff;
	min-height: 400px;
	height: 100%;
	position: relative;
	padding-top: 125px;
	background-image: url(../img/fondo_principal.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

.content-banner:before{
	content: '';
	width: 100%; 
	height: 100%;
	position: absolute;
	background-color: rgba(57,49,49,0.6);
	top: 0;
	left: 0;
	z-index: 1;
}


.content-banner .first-title{
	color: white;
	font-size: 70px;
	/* font */
	font-weight: 400;
	line-height: 1.2;
	position: relative;
	z-index: 2;
	margin: 0px 0px 12px;
}

.content-banner .banner-des{
	color: white;
	font-size: 30px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0;
	position: relative;
	z-index: 2;
	margin-top: 0;
}

section{
	padding: 4rem 0rem 4rem;
}

.foot{
	padding: 80px 0;
}