body
{
  background-color: #f9f8f8;
}
.row
{
  background-color: white;
}

.inicio{
  padding: 10px;
  min-height: 100vh;
  justify-content: center;
}

.bg2
{
  background-image: url(../img/inicio2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.btn{
  margin-top: 10px;
}